@import url("https://fonts.googleapis.com/css2?family=Overpass:wght@400;700&display=swap");

:root {
  --orange: hsl(25, 97%, 53%);
  --white: hsl(0, 0%, 100%);
  --light-grey: hsl(217, 12%, 63%);
  --medium-grey: hsl(216, 12%, 54%);
  --dark-blue: hsl(213, 19%, 18%);
  --very-dark-blue: hsl(216, 12%, 8%);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Overpass", sans-serif;
  font-size: 15px;
  color: var(--white);
}

body {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: black;
  height: 100vh;
  padding: 0 2rem;
}

#root {
  display: flex;
  align-items: center;
  justify-content: center;
}

/* Rating Card Styles */
.card {
  background: linear-gradient(
    to top,
    var(--very-dark-blue) 2%,
    var(--dark-blue)
  );
  padding: 2rem;
  border-radius: 1rem;
  width: 23rem;
}

.star-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgba(255, 255, 255, 0.05);
  width: 3rem;
  height: 3rem;
  border-radius: 50%;
  margin-bottom: 1rem;
}

.card h1 {
  font-size: 1.75rem;
  font-weight: 700;
  margin-bottom: 1rem;
}

.card p {
  font-size: 0.9rem;
  color: var(--light-grey);
  margin-bottom: 2rem;
  line-height: 1.5rem;
}

.ratings-wrapper {
  list-style: none;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  margin-bottom: 2rem;
}

.rating {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgba(255, 255, 255, 0.1);
  color: var(--light-grey);
  width: 3rem;
  height: 3rem;
  border-radius: 50%;
  cursor: pointer;
}

.rating.selected {
  background-color: var(--medium-grey);
  color: var(--white);
}

.rating:hover {
  background-color: var(--orange);
  color: var(--white);
}

button[type="submit"] {
  border: none;
  background-color: var(--orange);
  color: var(--white);
  width: 100%;
  padding: 1rem 0;
  border-radius: 2rem;
  text-transform: uppercase;
  letter-spacing: 0.1em;
}

button[type="submit"]:hover {
  background-color: var(--white);
  color: var(--orange);
  cursor: pointer;
}

/* Thanks Card Styles */
div.card > * {
  text-align: center;
}

.illustration-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 2rem;
}

div.card .selection-report {
  width: fit-content;
  background-color: rgba(255, 255, 255, 0.1);
  color: var(--orange);
  margin: 0 auto;
  padding: 0.5rem 1.25rem 0.25rem 1.25rem;
  margin-bottom: 1.5rem;
  border-radius: 2rem;
}

/* Attribution Styles */
.attribution {
  font-size: 11px;
  text-align: center;
  position: absolute;
  bottom: 1rem;
}
.attribution a {
  font-size: inherit;
  text-decoration: none;
  color: hsl(228, 45%, 44%);
}
